bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/MauiDtControls/FileContentIndex/503ab9ed-4612-479a-9ad4-122e18d7896a.vsidx
/.vs/MauiDtControls/FileContentIndex/2a31c0e6-dddc-4637-8b40-23e18c880837.vsidx
/DtControls/.vs/DtControls/FileContentIndex/33f2f5ae-3298-4207-a9f0-99d8cd97b535.vsidx
/DtControls/.vs/DtControls/FileContentIndex/611a4547-9793-45b9-833f-0f69c6fe65a2.vsidx
/DtControls/.vs/DtControls/FileContentIndex/674fe2e0-af43-4cce-8cd8-2aee4361d735.vsidx
/DtControls/.vs/DtControls/FileContentIndex/fde4066c-b4f5-4668-b8c8-dfdee129ff96.vsidx
/.vs/MauiDtControls/FileContentIndex
