bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/MauiDtControls/FileContentIndex/503ab9ed-4612-479a-9ad4-122e18d7896a.vsidx
/.vs/MauiDtControls/FileContentIndex/2a31c0e6-dddc-4637-8b40-23e18c880837.vsidx
